.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contact-content {
  display: flex;
  flex-direction: row;
}
.info {
  padding: 1rem;
}

.contact-form {
  padding: 1rem;
}
.contact-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  border-style: solid;
  border-color: white;
  border-radius: 2%;
}
.map {
  text-align: center;
}

@media (min-width: 750px) {
  .contact-content {
    display: flex;
  }
}

