.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding-top: 3rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.detail-img {
  width: 100%;
  height: auto;
  max-width: 1000px;
}
